@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Correções globais */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0f172a; /* Fundo escuro padrão */
  font-family: 'Inter', sans-serif;
  color: white;
}
